ul {
	padding-left: 0;
}

li {
	 border-bottom: 1px solid #E8E8E8; 
	 padding: 18px;
	list-style: none;
	 font-family: sans-serif;
}

.container {
	margin: auto;
	width: 700px;
	border: 1px solid #EDEDED;
	background-color: white;
	-webkit-box-shadow: 0px 9px 85px -19px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 9px 85px -19px rgba(0,0,0,0.75); 
	box-shadow: 0px 9px 85px -19px rgba(0,0,0,0.75);
	border-radius: 6px;
	margin-top: 50px;
	padding: 20px;
}
input[type="text"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	font-style: italic;
	border: none;
}

body {
	background-color: #F5F5F5;
}


li button {
	float: right;
}

footer {
	margin: 20px;
	text-align: center;
	color: #ccc;
}

.strike {
	text-decoration: line-through;
}
